	/*whole website */
	
body{
	margin: 0;
	padding: 0;
	/* background-color: #646464; */
	display: flex; flex-wrap: nowrap; flex-direction: column; justify-content: center; align-items: stretch;
}

html {
	box-sizing: border-box;
	
	font-size: 14px;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/*text formatting*/

/* <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap" rel="stylesheet"> */
/* font-family: 'Source Sans Pro', sans-serif; */

.white{
	color: #eeeeee;
}

hr {
	border-top: 1px solid #eeeeee;
	width: 60px;
	margin: 1.5rem auto 2.0rem auto;
}
p,b,small,big,h1,strong,span {
	font-family: 'Source Sans Pro', sans-serif;
	white-space:normal;
	text-indent: 0;
	margin: 0;
	padding: 0;
}
a { 
	text-decoration: none; 
	font: 300 1rem/1.5 'Source Sans Pro', sans-serif;
	color: #7073ff;
}
h1{
	font: 400 2.5rem/1.25 'Source Sans Pro', sans-serif;
	color: #eeeeee;
	padding-bottom: 0rem;
	text-align: center;
}
p{
	font: 300 1rem/1.5 'Source Sans Pro', sans-serif;
	color: #eeeeee;
}
span{
	font: 300 1rem/1.5 'Source Sans Pro', sans-serif;
	color: #eeeeee;
}
strong , b{
	font: 600 1rem/1.5 'Source Sans Pro', sans-serif;
	color: #eeeeee;
}
small{
	font: 400 0.75rem/01.5 'Source Sans Pro', sans-serif;
	color: #eeeeee;
}
blockquote{
	margin: 10px;
	border-left: 3px solid rgba(255,255,255,0.1);
	padding-left: 10px;
}
body{
	min-height: 100vh;
}

/*----------------------components----------------------*/

/*----------------------header----------------------*/
header{
	z-index: 10;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 30px;
	background-color: rgba(0,0,0,0.5);

	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
#navbar ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
	margin: 0;
}
#navbar ul li{
	display:inline;
	padding: 0 20px 0 20px;
}
#navbar ul li a{
	color: #eeeeee;
}
.title{
	padding: 5px 20px 5px 20px;
	font: 200 35px/1.0 'Source Sans Pro', sans-serif;
	text-align: center;
	color: #eeeeee;
	background-color: rgba(0 , 0 , 0 , 0.2);
}

/*----------------------footer----------------------*/
footer{
	height: 40px;
	background-color: #292929;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/*----------------------simple components----------------------*/
.parallax {
	/* set image with : background-image: url("img_parallax.jpg"); */
	width: 100%;
	height: 70vh;
	min-height: 200px;
	max-height: 900px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

	padding: 20px;

	position: relative;
	z-index: -2;
/*	filter: blur(2px); */
}
.caption{
	position: absolute;
	bottom: 20px;
	right: 5%;
	padding: 0 2rem 0 2rem;
	max-width: 80%;
	color: #eeeeee;
	background-color: rgba(0 , 0 , 0 , 0.8);
}
/*fake lazyload*/
.lazyloading{
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	padding: 20px;

	position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: -1;

	opacity: 0;
}

/*----------------------basic components----------------------*/

.left_container{
	margin-right: 5%;
}
.blank_container{
	width: 100%;
	background-color: #1d1b1b;
	padding: 5%;
}
.text_container{
	min-width: 300px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-evenly;
}
.text_container b,.text_container small,.text_container big,.text_container h1,.text_container strong,.text_container span{
	text-align: center;
}
.text_container p{
	margin-bottom: 1rem ;
	text-align: left;
	text-align: justify;
}

.gallery{
	min-width: 300px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

}

.thumbnails{
	/* height: 200px; */
	/* width: 200px; */
	flex: 0 0 1%;
	margin: 2.5%;
	background-color: rgba(0 , 0 , 0 , 0.1);

	filter: brightness(1);
	transition: all 0.3s ease-in-out;
}
.thumbnails .square{
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	margin: 0;
	background-size: cover;
	background-position: center;
	position: relative;
}
.thumbnails .square img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	object-fit: cover;
	transition: all 0.3s ease-in-out;
}
.thumbnails:hover{
	filter: brightness(0.8);
	transition: all 0.3s ease-in-out;
}
.thumbnails:hover img{
	object-fit: scale-down;
	object-position: center;
	transition: all 0.3s ease-in-out;
}

/* .big_gallery{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
} */
/*----------------------composed components----------------------*/
.text_and_text{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-around;
}
.text_and_text .text_container{
	flex: 47%;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
.text_and_text .text_container :nth-last-child(1){
	margin-top: auto;
}
/* 
.text_and_image{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}/*         todo: change the no wrap for responsive design 
.text_and_image div:nth-child(1){
	margin-right: 5%;
}
.text_and_image img:nth-child(1){
	margin-right: 5%;
}
.text_and_image img{
	flex: 40%;
	width: 40%;
}
.text_and_image .text_container{
	flex: 55%;
} */

.text_and_gallery{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.text_and_gallery .gallery{
	flex: 60%;
}
.text_and_gallery .gallery .thumbnails{
	flex: 1 1 40%;
}
.text_and_gallery .text_container{
	flex: 35%;
}
/* 
.text_and_tall_gallery{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.text_and_tall_gallery div:nth-child(1){
	margin-right: 5%;
}
.text_and_tall_gallery img:nth-child(1){
	margin-right: 5%;
}
.text_and_tall_gallery .gallery{
	flex: 40%;
}
.text_and_tall_gallery .gallery .thumbnails{
	flex: 1 1 35%;
	margin: 10px;
}
.text_and_tall_gallery .gallery .thumbnails img{
	padding-bottom: 400%;
}
.text_and_tall_gallery .text_container{
	flex: 55%;
} */

.text_only{
	background-color: #292929;
	width: 100%;
	height: 100%;
	padding: 60px;

	display: flex;
	align-items: center;
	justify-content: center;
}
.text_only .text_container{
	max-width: 900px;
}

/*----------------------modal----------------------*/

.modal_window{
	position: fixed;
	top: 0;
	left: 0;

	display: none;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;

	z-index: 10;
	width: 100%;
	height: 100%;
	max-height: 100%;
	/* padding: 20px 20px 20px 20px; doesn't work on google chrome*/
	background-color: rgba(0 , 0 , 0 , 0.9);
}
.modal_image_container{/* FUCK YOU GOOGLE CHROME */
	padding: 20px;
	flex: 1 1 auto;

	width: 100%;
	max-height: 100%;
	min-height: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: zoom-out;
}
.modal_image{
	flex: 1 1 auto;

	margin: auto;
	object-fit: scale-down; /* because of the old  */

	max-width: 100%;
	max-height: 100%;

	min-width: 0;
	min-height: 0;
}

.text_bar{
	width: 100%;
	padding: 10px 10px 0 10px;
	background-color: rgba(0 , 0 , 0 , 0.1);

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: auto;
}
#purchase_link{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-right: auto;
}
#purchase_link img{
	height: 1rem;

	margin-right: 20px;
}
#purchase_link p{
	font: 300 1rem/0.8 'Source Sans Pro', sans-serif;
	color: #eeeeee;
}
#purchase_link p:hover{
	text-decoration: underline;
}
.image_title_box{
	margin-left: auto;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: rgba(0 , 0 , 0 , 0.6);
}
.image_title{
	font: 300 1rem/0.8 'Source Sans Pro', sans-serif;
	color: #eeeeee;
}

.button{
	height: 50%;
	min-height: 50px;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	background-color: rgba(255,255,255,0.0);

	-webkit-user-select: none; /* Safari */		
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

	transition: ease-in-out 0.5s;
}
.button:hover{
	background-color: rgba(126, 126, 126, 0.0);

	transition: ease-in-out 0.5s;
}
.next{
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}
.next span{
	height: 15px;
	width: 15px;
	border-top: 1px solid white;
	border-right: 1px solid white;
	transform-origin: center;
	transform: rotate(45deg);
}
.previous{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}
.previous span{
	height: 15px;
	width: 15px;
	border-top: 1px solid white;
	border-left: 1px solid white;
	transform-origin: center;
	transform: rotate(-45deg);
}

.close{
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	margin-left: 20px;

	background-color: rgba(255,255,255,0.0);

	-webkit-user-select: none; /* Safari */		
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

	transition: ease-in-out 0.5s;
}
.close span{
	font: 300 16px/1 'Baloo Tamma 2', sans-serif;
	color: #ffffff;
}
.spinner{
	z-index: 11;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	object-fit: scale-down;
	transform-origin: center;
}
.spinning{
	animation: 0.6s linear infinite spin; 
}
@keyframes spin {
	0% {transform:rotate(360deg);}
	25% {transform:rotate(270deg);}
	50% {transform:rotate(180deg);}
	75% {transform:rotate(90deg);}
	100% {transform:rotate(0deg);}
}
/*menu thingy*/
#contextual_menu{
	z-index: 13;
	position: fixed;
	top: 100%;
	left: 100%;
	display: none;
	background-color: #333333;
	flex-direction: column;
	flex-wrap: nowrap;
}
#contextual_menu span{
	padding: 2px 10px 2px 10px;

	cursor: pointer;

	-webkit-user-select: none; /* Safari */		
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
#contextual_menu span:hover{
	color: #000000;
	background-color: #eeeeee;
}