---
title: ""
description: ""

image_scaling: "220"
permalink: "gallery/{{page.fileSlug}}/"
---
<!doctype html>
<html style="scroll-behavior: smooth;">
	<head>
		<link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700&display=swap" rel="stylesheet"> 
		<link rel="stylesheet" href="{{website.url}}/includes/assets/css/styles.css">
		<script src="{{website.url}}/includes/assets/js/modal_gallery.js" defer> </script>
		<script src="{{website.url}}/includes/assets/js/masonry_resize.js" defer> </script>

		<!--overides-->
		<meta property="og:image" content="{{website.completeUrl}}/{{ collections[page.fileSlug][0] | replace('/thumbnails','/larges') }}">
		
		{% include "components/metadata.njk" %}
	</head>
	<body class="">

		{% include "components/header.njk" %}

		{{ content | safe }}

		<div id="gallery" class="big_gallery" data-scaling-ratio="{{image_scaling}}">
		{%- for image in collections[page.fileSlug] %}
			<img class ="preview" src="{{website.url}}/{{image}}" id="{{loop.index}}" onclick="openModalGallery( {{loop.index}} )">
		{%- endfor %}
		</div>

		{% include "components/footer.njk" %}
		{% include "components/modal.njk" %}
	</body>
</html>