<footer>
	<p class="white">©2023 by Chocolate de rêves. Proudly created with <a href="">Wix.com</a></p>
</footer>
<!--div class="back_to_top" onclick="window.scrollTo({ top: 0, left: 0, behavior: 'smooth'});"><span></span></div>-->