<header>
	<nav id="navbar">
		<ul>
			<li><a href="#definition">L'EXPRESSIONNISME ABSTRAIT</a></li>
			<li><a href="#gallery1">MARC&nbsp;MENGUS</a></li>
			<li><a href="#gallery1">OEUVRES</a></li>
			<li><a href="#contact">CONTACT</a></li>
		</ul>
	</nav>
</header>