<header id="top">
	<nav id="navbar">
		<ul>
			<li><a href="#top">MARC&nbsp;MENGUS</a></li>
			<li><a href="#definition">DÉFINITION</a></li>
			<li><a href="#gallery1">OEUVRES</a></li>
			<li><a href="#contact">CONTACT</a></li>
		</ul>
	</nav>
</header>