<header>
	<nav id="navbar">
		<ul>
			<li><a href="#definition">L'Expressionnisme Abstrait</a></li>
			<li><a href="#gallery1">Marc&nbsp;Mengus</a></li>
			<li><a href="#gallery2">Oeuvres</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</nav>
</header>