<div id="modal_window" class="modal_window">
	<img src="{{website.url}}/includes/assets/images/load.png" id="spinner" class="spinner spinning">
	<div class="modal_image_container" id="modal_image_container">
		<img id="modal_image" class="modal_image"  src="">
	</div>

	<div id="previous" class="previous button "><span> &#171; </span></div>
	<div id="next" class="next button "><span> &#187; </span></div>
	<div id="close" class="close button "><span> &#x2573; </span></div>
	<div class="image_title_box" ><p class="image_title" id="image_title">...</p></div>
		
	<div class="text_bar">
		<a target="_blank" rel="noopener noreferrer" href="" id="purchase_link">
			<img src="{{website.url}}/includes/assets/images/external_link.png">
			<p id="purchase_link_text"> Tirage d'Art / 1/10 / pcagalleryart</p>
		</a>
	</div>

	<div id="contextual_menu">
		<span id="menu_previous" >Previous</span>
		<span id="menu_next" >Next</span>
		<span id="menu_close" >Close</span>
	</div>
</div>
